@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    color: var(--cor-branca);
    font-weight: 300;
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-fundo-cinza-escuro);
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}

.alinhar-itens-no-centro {
    align-items: center;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 25px;
    animation: float 5s ease-in-out infinite;
}

.redes-sociais a {
    font-size: 1.8rem;
    color: var(--cor-branca);
    border-radius: 50%;
    padding: 10px;
}

.redes-sociais li a {
    box-shadow: 0 0.1rem 0.7rem var(--cor-branca);
    transition: 0.6s;
}

.redes-sociais li a:hover {
    transform: translate(0, -10%);
}

.redes-sociais li:nth-child(1) a:hover {
    background-color: #3245ee;
}

.redes-sociais li:nth-child(2) a:hover {
    background-color: #00D237;
}

.redes-sociais li:nth-child(3) a:hover {
    background-color: #555555;
}

.redes-sociais li:nth-child(4) a:hover {
    background: linear-gradient(to top, #fce307d0, #ff17f3, #c814ff);
}

@keyframes float {
    0% {
      transform: translateY(1);
    }
  
    50% {
      transform: translateY(-15px);
    }
  
    100% {
      transform: translateY(5px);
    }
  }

.outer-shadow {
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.inner-shadow {
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section {
    padding: 7rem 0 7rem;
}

.section-title {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
}

.section-title h2 {
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
}

.section-title span {
    color: rgb(255, 251, 1);
}

.botao {
    font-size: var(--fonte-grande);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: var(--cor-primaria);
}

.botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}